/* Style the header */
.header {
  padding: 1px;
  background:		#F5F5DC;
  color: black;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 50px;
}
h1{
  text-align: center;
  font-size: 50px;
  color: black;
  font-family:sans-serif;
}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: 	#F5F5DC;
    padding-right: 100px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 100px;
    font-size: 25px;
}

li a:hover {
    background-color: darkred;
}
.top{
  background-color: darkred;
}
.ontop{
  width: 150px;
  height: 80px;
}
